.device-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #004B87;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

@media (min-width: 375px) {
  .device-container {
    width: 375px;
    height: 667px;
  }
}

.device-header {
  width: 100%;
  /* Full width of device-container */
  height: 60px;
  /* Fixed height */
  background-color: #004B87;
  /* Header background */
  display: flex;
  justify-content: space-between;
  /* Spread out content */
  align-items: center;
  /* Center content vertically */
  padding: 0 15px;
  /* Add horizontal padding */
  color: white;
  /* Text color */
  font-size: 18px;
  /* Title font size */
  font-weight: bold;
}

.device-header .icon {
  display: flex;
  align-items: center;
}

.device-header .icon img {
  height: 35px;
  /* Icon size */
  width: 35px;
  /* Icon size */
}

.device-header .title {
  flex: 1;
  /* Let the title take up remaining space */
  text-align: center;
  /* Center align the title */
}

.device-header .hamburger {
  display: flex;
  align-items: center;
}

.device-header .hamburger img {
  height: 24px;
  /* Hamburger icon size */
  width: 24px;
  /* Hamburger icon size */
}


.device-body {
  flex: 1;
  /* Take up remaining vertical space */
  display: flex;
  /* justify-content: center;  */
  /* align-items: center;  */
  padding: 8px;
  /* height: 100%; */
  /* width: 100%; */
  background-color: #EEF2F5;
}
.device-body.primary {
  background-color: #004B87;
}

.device-body .offcanvas {
  position: absolute;
  max-width: 300px; /* Constrain to desired width */
  height: 100%; /* Match the height of the container */
  overflow-y: auto;
  background-color: #004B87;
  color: white;
  opacity: 1 !important;
}



.device-footer {
  width: 100%;
  /* Full width of the device-container */
  height: 80px;
  /* Footer height */
  background-color: #004B87;
  /* Footer background */
  display: flex;
  justify-content: space-between;
  /* Space between elements */
  align-items: center;
  /* Center vertically */
  padding: 0 15px 10px;
  /* Add horizontal padding */
  color: white;
  /* Footer text color */
  font-size: 16px;
  /* Optional: Footer text size */
  z-index: 100;
}

@media (max-width: 375px) {
  .device-container {
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
  }
}


.no-caret::after {
  display: none !important;
}

.no-focus:focus {
  outline: none !important;
  box-shadow: none !important;
}

#hamburgerMenu:focus,
#hamburgerMenu[data-bs-toggle="dropdown"]:focus {
  outline: none !important;
  box-shadow: none !important;
}



/* footer styles */
.footer-item {
  text-align: center;
  transition: transform 0.2s, background-color 0.2s;
  width: 25%; 
  cursor: pointer;
}

.icon-wrapper {
  display: inline-block;
  background-color: transparent;
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.2s, transform 0.2s;
}

.footer-label {
  margin: 5px 0 0;
  color: white;
  font-size: 12px;
  transition: color 0.2s;
}

/* selected and hover have same attributes */
.footer-item.selected .icon-wrapper {
  background-color: #78be20;
  margin-top: -15px;
  height: 60px;
  width: 60px;
  border: 4px solid white; 
  box-sizing: border-box; 
}

.footer-item.selected .icon-wrapper svg {
  height: 35px;
  width: 35px;
}
.footer-item:hover .icon-wrapper {
  background-color: #78be20;
  margin-top: -15px;
  height: 60px;
  width: 60px;
  border: 4px solid white; 
  box-sizing: border-box; 
}
.footer-item:hover .icon-wrapper svg {
  height: 35px;
  width: 35px;
}